<div class="container">
    <div class="row">

        <h2 class="text-center text-dark mt-5">Lévriers sans frontières</h2>





              <img src="https://i1.wp.com/www.levriers-sans-frontieres.com/wp-content/uploads/2020/11/cropped-logo-1.png?fit=350%2C189&ssl=1" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="profile">

            



      </div>

  </div>